<script>
  function redirectToChat() {
    window.location.href = "/chat_session_seller";
  }
</script>


<div class="container" onload="hideLoadingDiv()">
    <div class="row">
      <div class="col-4">
        <h2 style="text-align: left;" >Seller Account<h2></h2>
      </div>
      <div class="col-8">
        <h5 class="msg-panel" style="text-align: left; color: grey;" >{{messages}}</5>
    </div>
    </div>
    <hr>
    <style>
        #key{text-align: right;}
        #val{text-align: left;}
        .accInfo {
          color: #000;
          background-color: #ffffff;
        }
    
        .accInfo .accInfo.active,
        .accInfo .accInfo:hover {
          color: #fff;
          background-color: #000;
        }
       
      </style>
    </div>
    
    <div class="container min-container">
        <div class="row">
          <div class="col-md-2">
            <div class="nav flex-column nav-pills accInfo" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active accInfo" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Seller Information</a>
              <a class="nav-link accInfo" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Add New Product</a>
              <a class="nav-link accInfo" id="v-pills-offer-tab" data-toggle="pill" href="#v-pills-offer" role="tab" aria-controls="v-pills-offer" aria-selected="false">Create Offers</a>
              <a class="nav-link accInfo" id="v-pills-history-tab" data-toggle="pill" href="#v-pills-history" role="tab" aria-controls="v-pills-history" aria-selected="false">Seller History</a>
              <a class="nav-link accInfo" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Awards</a>
              <a class="nav-link accInfo" id="v-pills-chat-tab" data-toggle="pill" href="#v-pills-chat" role="tab" aria-controls="v-pills-chat" aria-selected="false" onclick="redirectToChat()">Customer Chat</a>
            </div>
          </div>
          <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <div class="col-1"> </div>  
                    <div class="col-2">
                    <h5 id="key">Seller Name:</h5>
                    </div>
                    <div class="col-1"> </div>  
                    <div class="col-4">
                    <h5 id="val">{{ session.seller_name[0] }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"> </div>  
                    <div class="col-2">
                    <h5 id="key">Email :</h5>
                    </div>
                    <div class="col-1"> </div> 
                    <div class="col-6">
                    <h5 id="val">{{ session.seller_email[0] }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"> </div>  
                    <div class="col-2">
                    <h5 id="key">Address :</h5>
                    </div>
                    <div class="col-1"> </div> 
                    <div class="col-6">
                    <h5 id="val">{{ session.seller_address[0] }}</h5>
                    </div>
                </div>
            </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                {% include 'seller-account/addNewProduct.html' %}
              </div>
              <div class="tab-pane fade" id="v-pills-offer" role="tabpanel" aria-labelledby="v-pills-offer-tab">
                {% include 'seller-account/createOffer.html' %}
              </div>
              <div class="tab-pane fade" id="v-pills-history" role="tabpanel" aria-labelledby="v-pills-history-tab">
                {% include 'seller-account/sellerHistory.html' %}
              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                {% include 'seller-account/sellerAwards.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    