<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-fixed-top">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="col-2">
                    <a class="navbar-brand" href="/">
                        <img src="static/logo/logo-black.png" width="200" height="200" style="float: right;">
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>
