<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-fixed-top">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="col-2">
                    <a class="navbar-brand" href="http://127.0.0.1:5000/">
                        <img src="static/logo/logo-black.png" width="200" height="200" style="float: right;">
                    </a>
                </div>
                <div class="col-9 " id="navbarCollapse">

                    <ul class="navbar-nav nav-fill nav-pills pb-4">
                        <li class="nav-item"></li>

                        <div class="col-6">
                            <li class="nav-item">
                                <form action="search" method="POST">
                                    <div class="input-group-append rounded d-flex flex-row">

                                        <input type="text" class="form-control rounded" placeholder="Search"
                                            aria-label="Search" aria-describedby="search-addon" id="search"
                                            name="search">

                                        <button class="btn border-0" type="submit"><img class="img-fluid" max-width=20px
                                                height=20px id="search-logo" src="static/header/search.png" /></button>


                                        </input>

                                    </div>
                                </form>
                            </li>
                        </div>
                        {% if session.login_status != "True" %}
                        <div class="col-3">
                            <li class="nav-item">
                                <a class="nav-link link-dark" style="text-decoration: underline;"
                                    href="http://127.0.0.1:5000/login">
                                    <h6>Login | Sign Up</h6>
                                </a>
                            </li>

                        </div>
                        {% endif %}
                        {% if session.login_status == "True" %}
                        <div class="col-2">
                            <li class="nav-item">
                                <a class="nav-link link-dark" style="text-decoration: underline;"
                                    href="http://127.0.0.1:5000/user-account">
                                    <h6>Hello {{session.user_firstname[0]}}!</h6>
                                </a>
                            </div>
                            <div class="col-1">
                                <a class="nav-link link-dark" style="text-decoration: underline;"
                                    href="http://127.0.0.1:5000/logout">
                                    <h6>Logout</h6>
                                </a>
                            </li>

                        </div>
                        {% endif %}
                        <li class="nav-item">
                            <button class="btn border-0" type="button"><img class="img-fluid" max-width=20px height=20px
                                    id="search-logo" src="static/header/Globe.svg" /></button>
                            <button class="btn border-0" type="button"><img class="img-fluid" max-width=100% height=auto
                                    id="search-logo" src="static/header/Heart.svg" /></button>
                            <button class="btn border-0" type="button"><img class="img-fluid" max-width=100% height=auto
                                    id="search-logo" src="static/header/Cart.png" /></button>
                        </li>

                    </ul>
                    <ul class="navbar-nav nav-fill">
                        {%for values in categories.items()%}
                        {% if loop.index != 1 %}
                        <li class="nav-item" float=center>
                            <h3>|</h3>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{values[0]}}" onclick="RedirectURL();return false;">
                                <h5 class="text-uppercase">{{values[1]}}</h5>
                            </a>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>