<nav class="navbar navbar-expand-lg fixed-top">
    <div class="col-2">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">
            <img src="static/logo/logo-black.png" width="200" height="200" style="float: right;">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex flex-column flex-nowrap col-9 " id="navbarCollapse">

        <ul class="navbar-nav nav-fill nav-pills pb-4">
            <li class="nav-item"></li>

            <div class="col-6">
                <li class="nav-item">
                    <div class="input-group-append rounded d-flex flex-row">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" id="search">

                        <button class="btn border-0" type="button"><img class="img-fluid" max-width=20px height=20px
                                id="search-logo" src="static/header/search.png" /></button>
                    </div>
                    </input>
                </li>
            </div>
            <div class="col-3">
                <li class="nav-item">
                    <button class="btn border-0" type="button">
                        <h6>Login | Sign Up</h6>
                    </button>
                </li>
            </div>
            <li class="nav-item">
                <button class="btn border-0" type="button"><img class="img-fluid" max-width=20px height=20px
                        id="search-logo" src="static/header/Globe.svg" /></button>
                <button class="btn border-0" type="button"><img class="img-fluid" max-width=100% height=auto
                        id="search-logo" src="static/header/Heart.svg" /></button>
                <button class="btn border-0" type="button"><img class="img-fluid" max-width=100% height=auto
                        id="search-logo" src="static/header/Cart.png" /></button>
            </li>

        </ul>
        <ul class="navbar-nav nav-fill">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <h5 class="text-uppercase">ALL ANTIQUES</h5>
                </a>
            </li>
            <li class="nav-item" float=center>
                <h3>|</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h5 class="text-uppercase">FURNITURES</h5>
                </a>
            </li>
            <li class="nav-item">
                <h3>|</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h5 class="text-uppercase">SILVER</h5>
                </a>
            </li>
            <li class="nav-item">
                <h3>|</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h5 class="text-uppercase">ART</h5>
                </a>
            </li>
            <li class="nav-item">
                <h3>|</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h5 class="text-uppercase">CLOCKS</h5>
                </a>
            </li>
            <li class="nav-item">
                <h3>|</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h5 class="text-uppercase">MIRRORS</h5>
                </a>
            </li>
            <li class="nav-item">
                <h3>|</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h5 class="text-uppercase">JEWELRY & WATCHES</h5>
                </a>
            </li>
            <li class="nav-item">
                <h3>|</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h5 lass="text-uppercase">LIGHTING</h5>
                </a>
            </li>
        </ul>
    </div>
</nav>