<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-fixed-top">
                <div class="col-2">
                    <a class="navbar-brand" href="/">
                        <img src="static/logo/logo-black.png" width="200" height="200" style="float: right;">
                    </a>
                </div>
                <div class="col-9">
                    
                    <div class="row"> 
                        <div class="col-8"></div> 
                        <div class="col-2">
                            
                                <a class="nav-link link-dark" style="text-decoration: underline;"
                                    href="/sellerAccount">
                                    <h6>Hello {{session.seller_name[0]}}!</h6>
                                </a>
                            
                        </div>
                        <div class="col-2">
                            
                                <a class="nav-link link-dark" style="text-decoration: underline;"
                                    href="/logout">
                                    <h6>Logout</h6>
                                </a>
                            
                        </div>
                    </div>  
                </div>
            </nav>
        </div>
    </div>
</div>
