<div class="container">
    <div class="row justify-content-md-center" id="footer">
        <div class="col-md-auto">
            <a class="link-dark" href="link address"><h8>Terms of Use</h8></a>
        </div>
        <div class="col-md-auto">
            <a class="link-dark" href="link address"><h8>Privacy Policy</h8></a>
        </div>
        <div class="col-md-auto">
            <a class="link-dark" href="link address"><h8>Cookie Policy</h8></a>
        </div>
        <div class="col-md-auto">
            <a class="link-dark" href="link address"><h8>Accessibility Statement</h8></a>
        </div>
        <div class="col-md-auto">
            <a class="link-dark" href="link address"><h8>Help</h8></a>
        </div>
        <div class="col-md-auto">
            <a class="link-dark" href="link address"><h8>FAQ</h8></a>
        </div>
        <div class="col-md-auto">
            <a class="link-dark" href="link address"><h8>About AntiQKraft</h8></a>
        </div>
      </div>
      <div class="row justify-content-md-center" id="footer">
        <div class="col-md-auto clearfix">
            <a href="link address"><img class="rounded-circle" src="static/Vector.jpg"></img></a>
        </div>
        <div class="col-md-auto clearfix">
            <a href="link address"><img class="rounded-circle" src="static/Instagram.jpg"></img></a>
        </div>
        <div class="col-md-auto clearfix">
            <a href="link address"><img class="rounded-circle" src="static/Pinterest.jpg"></img></a>
        </div>
        <div class="col-md-auto clearfix">
            <a href="link address"><img class="rounded-circle" src="static/Twitter.jpg"></img></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <hr class="hr" />
        </div>
    </div>
    <div class="row justify-content-md-center" id="footer">
        <div class="col-md-auto clearfix">
            <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/Copyright.jpg"></img></a>
        </div>
        <h8 style="text-align: center;">Code Panda</h8>
      </div>
  </div>