
{% include 'base.html' %}
{% include 'header/header-without-nav.html' %}
<div class="container" style="margin-left:480px  ;">
    <h1>Password Reset</h1>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
    }
    
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;

      border-radius: 0px;
      text-align: center;
    }
    
    h1 {
      color: #333333;
    }
    
    p {
      margin-bottom: 20px;
    }
    
    input[type="New Password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type="Confirm Password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type="submit"] {
      background-color: #161616;
      color: #ffffff;
      border: none;
      padding: 12px 20px;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #000000;
    }
  </style>

  <div class="container">
    

    <form action="/reset-password" method="POST">
        <h5>Please enter your new password.</h5>
      <input type="New Password" id="New Password" name="New Password" placeholder="New Password" required><br><br>
      <h5>Please confirm your new password.</h5>
      <input type="Confirm Password" id="Confirm Password" name="Confirm Password" placeholder="Confirm Password" required><br><br>
      <input type="submit" value="Reset Password">
    </form>
  </div>
</div>


{% include 'footer/footer.html' %}
