{% include 'base.html' %}

<style>
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .separator::before,
    .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
    }

    .separator:not(:empty)::before {
        margin-right: .25em;
    }

    .separator:not(:empty)::after {
        margin-left: .25em;
    }
</style>


{% include 'header/header_category.html' %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <hr class="hr" style="background-color: #000; opacity: 1;" />
        </div>
        <div class="col-2">
            <h5 style="text-align: center;">ART</h5>
        </div>
        <div class="col-5">
            <hr class="hr" style="background-color: #000; opacity: 1;"/>
        </div>
    </div>

    <div>
        <ul style="display: flex; justify-content:space-between;">
            <a class="nav-link" href="Document URL"
                style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src="static/category/Frame 1.jpg" width="180px" height="180px" style="margin-top: 10px;">
                <br></br>
                Vintage
            </a>
            <a class="nav-link" href="Document URL"
                style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src="static/category/Frame 2.jpg" width="180px" height="180px" style="margin-top: 150px;">
                <br></br>
                Paintings
            </a>
            <a class="nav-link" href="Document URL"
                style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src="static/category/Frame 3.jpg" width="180px" height="180px" style="margin-top: 10px;">
                <br></br>
                Abstract
            </a>
            <a class="nav-link" href="Document URL"
                style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src="static/category/Frame 5.jpg" width="180px" height="180px" style="margin-top: 150px;">
                <br></br>
                Scuplture
            </a>
            <a class="nav-link" href="Document URL"
                style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src="static/category/Frame 4.jpg" width="180px" height="180px" style="margin-top: 10px;">
                <br></br>
                Other
            </a>
        </ul>
    </div>

    {% include 'footer/footer.html' %}
</div>

    <!--{%for values in products.items()%}
        <h5>
            {{values[1]}}
        </h5>
    {%endfor%}
    -->