{% include 'base.html' %}

<style>

</style>


{% include 'header/header.html' %}

<div class="container">
    <div class="row">
        <div class="col-5">
            <hr class="hr" style="background-color: #000; opacity: 1;" />
        </div>
        <div class="col-2">
            <h3 style="text-align: center; text-transform: uppercase;">{{row_val['category_name']}}</h3>
        </div>
        <div class="col-5">
            <hr class="hr" style="background-color: #000; opacity: 1;" />
        </div>
    </div>

    <div>
        <ul style="display: flex; justify-content:space-between; margin-bottom: 100px; margin-top: 50px;">
            <a class="nav-link" href="http://127.0.0.1:5000/subcategory?categoryid={{row_val['category_id']}}&subcategoryid={{sub_cat_id_list[0]}}" style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src={{image_list[0]}} width="180px" height="180px" style="margin-top: 10px;">
                <br></br>
                {{sub_cat_list[0]}}
            </a>
            <a class="nav-link" href="http://127.0.0.1:5000/subcategory?categoryid={{row_val['category_id']}}&subcategoryid={{sub_cat_id_list[1]}}" style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src={{image_list[1]}} width="180px" height="180px" style="margin-top: 150px;">
                <br></br>
                {{sub_cat_list[1]}}
            </a>
            <a class="nav-link" href="http://127.0.0.1:5000/subcategory?categoryid={{row_val['category_id']}}&subcategoryid={{sub_cat_id_list[2]}}" style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src={{image_list[2]}} width="180px" height="180px" style="margin-top: 10px;">
                <br></br>
                {{sub_cat_list[2]}}
            </a>
            <a class="nav-link" href="http://127.0.0.1:5000/subcategory?categoryid={{row_val['category_id']}}&subcategoryid={{sub_cat_id_list[3]}}" style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src={{image_list[3]}} width="180px" height="180px" style="margin-top: 150px;">
                <br></br>
                {{sub_cat_list[3]}}
            </a>
            <a class="nav-link" href="http://127.0.0.1:5000/subcategory?categoryid={{row_val['category_id']}}&subcategoryid={{sub_cat_id_list[4]}}" style="text-align: center; margin-right: auto; margin-left: auto; ">
                <img src={{image_list[4]}} width="180px" height="180px" style="margin-top: 10px;">
                <br></br>
                {{sub_cat_list[4]}}
            </a>
        </ul>
    </div>

    {% include 'footer/footer.html' %}
</div>

