/* body {
    border: 5px;
}

#header {
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 210px;
    padding: 5px;
    background: url(logo-black.png);
}

#header-logo {
    box-sizing: border-box;
    position: center;
    width: 200px;
    height: 200px;
    padding: 5px;
    background: url(logo-black.png);
}
 */


h5, h6 {
    color: black;
    float:center;
    text-align: right;
}

#search {
    text-align: center;
   

}

#home-banner .carousel-item .img-fluid {  
    object-fit: cover;
    height: 300px;
    padding: 10px;
  }

#offerzone {
    
    padding: 5px;
    text-align: center;

}

#shopByCategory .shopByCategory{
    text-align: center;
    padding: 10px;
}

.fit-image{
    object-fit: cover;
    height: 185px; /* only if you want fixed height */
    
    }

    #footer {
        padding: 10px;
    }

hr {
        background-color: black;
        opacity: 1;
}