{% include 'base.html' %}
<div class="container-fluid overflow-auto">
    {% include 'header/header.html' %}
</div>
<style>
    .centered {
  position: absolute;
  top: 38%;
  left: 50%;
  color:rgb(252, 252, 252);
  font-size: x-large;
                }
</style>    


<div>
    <img style="display=inline-block; margin-top: 15%; margin-left: 5.5%" src="static/image 39.jpg" width=86% height="230px">
    <img style="display=inline-block; margin-top: -16.85%; margin-left: 5.5%;" src="static/image 2.jpg" width="21%" height="230px"> 
    <div class="centered">All Items Ready To SHIP NOW </div>
</div>


