<div class="container">
    <div class="row d-flex" id="offerzone-block">
        <div class="col-4" id="offerzone">
            <a class="offerzone" href="link address"><img id="offerzone-img" src="static/homepage/image 15.jpg"><h4 class="over-image">New Arrivals</h4></img></a>
        </div>
        <div class="col-4" id="offerzone">
            <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-sm-6" id="offerzone">
                    <a class="offerzone" href="link address"><img id="offerzone-img" src="static/homepage/image 20.jpg"><h4 class="over-image">Trending</h4></img></a>
                </div>
                <div class="col-2 col-sm-6" id="offerzone">
                    <a class="offerzone" href="link address"><img id="offerzone-img" src="static/homepage/image 23.jpg"><h4 class="over-image">Offer Zone</h4></img></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-sm-6" id="offerzone">
                    <a class="offerzone" href="link address"><img id="offerzone-img" src="static/homepage/image 21.jpg"><h4 class="over-image">Today's Deals</h4></img></a>
                </div>
                <div class="col-2 col-sm-6" id="offerzone">
                    <a class="offerzone" href="link address"><img id="offerzone-img" src="static/homepage/image 25.jpg"><h4 class="over-image">Up to 50% off</h4></img></a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-4" id="offerzone">
            <a class="offerzone" href="link address"><img id="offerzone-img" src="static/homepage/image 40.jpg"><h4 class="over-image">Last few!!</h4></img></a>
        </div>
    </div>
</div>