<div class="container">
    <div class="row d-flex" id="offerzone-block">
        <div class="col-4" id="offerzone">
            <a class="offerzone" href="specialcategory?id=1"><img class="img-fluid" id="offerzone-img" src="static/homepage/image 15.jpg" style="height: 400px"><h3 class="over-image">New Arrivals!</h3></img></a>
        </div>
        <div class="col-4" id="offerzone">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 col-sm-6" id="offerzone">
                        <a class="offerzone" href="specialcategory?id=2"><img id="offerzone-img" class="img-fluid" src="static/homepage/image 20.jpg" style="height: 180px; width:180px;"><h4 class="over-image">Trending</h4></img></a>
                    </div>
                    <div class="col-2 col-sm-6" id="offerzone">
                        <a class="offerzone" href="specialcategory?id=3"><img id="offerzone-img" class="img-fluid" src="static/homepage/image 23.jpg" style="height: 180px; width:180px;"><h4 class="over-image">Offer Zone</h4></img></a>
                    </div>
                </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-sm-6" id="offerzone">
                    <a class="offerzone" href="specialcategory?id=4"><img id="offerzone-img" class="img-fluid" src="static/homepage/image 21.jpg" style="height: 180px; width:180px;"><h4 class="over-image">Today's Deals</h4></img></a>
                </div>
                <div class="col-2 col-sm-6" id="offerzone">
                    <a class="offerzone" href="specialcategory?id=5"><img id="offerzone-img" class="img-fluid" src="static/homepage/image 25.jpg" style="height: 180px; width:180px;"><h4 class="over-image">Up to 50% off</h4></img></a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-4" id="offerzone">
            <a class="offerzone" href="specialcategory?id=6"><img class="img-fluid" id="offerzone-img" src="static/homepage/image 40.jpg" style="height: 400px"><h3 class="over-image">Last Few!</h3></img></a>
        </div>
    </div>
</div>