<div class="container">
    <div class="row d-flex" id="offerzone-block">
        <div class="col-4" id="offerzone">
            <a href="link address"><img id="offerzone-img" src="static/homepage/image 15.jpg"></img></a>
        </div>
        <div class="col-4" id="offerzone">
            <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-sm-6" id="offerzone">
                    <a href="link address"><img id="offerzone-img" src="static/homepage/image 20.jpg"></img></a>
                </div>
                <div class="col-2 col-sm-6" id="offerzone">
                    <a href="link address"><img id="offerzone-img" src="static/homepage/image 23.jpg"></img></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-sm-6" id="offerzone">
                    <a href="link address"><img id="offerzone-img" src="static/homepage/image 21.jpg"></img></a>
                </div>
                <div class="col-2 col-sm-6" id="offerzone">
                    <a href="link address"><img id="offerzone-img" src="static/homepage/image 25.jpg"></img></a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-4" id="offerzone">
            <a href="link address"><img id="offerzone-img" src="static/homepage/image 40.jpg"></img></a>
        </div>
    </div>
</div>