<div class="container" id="shopByCategory">
    <div class="row">
        <div class="col-5">
            <hr class="hr" />
        </div>
        <div class="col-2">
            <h5 id="shopByCategory">Shop By Category</h5>
        </div>
        <div class="col-5">
            <hr class="hr" />
        </div>
    </div>
    <div class="row shopByCategory">
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 48.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Porcelain</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 27.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Pottery</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 57.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Porcelain</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 29.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Glass</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 54.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Silverware</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 55.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Art</h8></a>
        </div>
    </div>
    <div class="row shopByCategory">
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 32.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Furniture</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 44.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Wood Articles</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 34.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Vintage Clothing</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 35.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Paintings</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 52.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Mirrors</h8></a>
        </div>
        <div class="col-sm-2">
            <div class="clearfix fit-image">
                <a href="link address"><img class="rounded-circle" id="offerzone-img" src="static/image 37.jpg"></img></a>
            </div>
            
            <a class="link-dark" href="link address"><h8>Antique Watches</h8></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="hr" />
        </div>
    </div>
</div>