{% include 'base.html' %}
{% include 'header/header-without-nav.html' %}

<div class="container min-container">
  <h1>Welcome to Antiqkraft</h1>

  <h2>About Us</h2>
  <p>Antiqkraft is a premier online marketplace specializing in the sale of antique products. We offer a wide range of carefully curated antique items that span various eras and styles. Our collection includes vintage furniture, decor, jewelry, art, and more. Each piece is sourced with great care to ensure authenticity and quality.</p>

  <h2>Explore Our Collection</h2>
  <p>At Antiqkraft, we take pride in offering a diverse selection of antique products. Whether you are a seasoned collector or a passionate enthusiast, you'll find something unique and captivating in our collection. Discover rare and one-of-a-kind pieces that carry the charm and history of bygone eras.</p>

  <h2>Authenticity and Quality</h2>
  <p>We understand the value of genuine antique products. That's why we work closely with trusted experts and reputable sellers to ensure the authenticity and quality of each item we offer. Our team meticulously verifies the origin, craftsmanship, and condition of every piece, providing you with confidence in your purchase.</p>

  <h2>Secure Online Shopping</h2>
  <p>Your shopping experience at Antiqkraft is our top priority. We have implemented robust security measures to protect your personal information and ensure a safe online environment. Our secure payment gateway allows you to shop with confidence, knowing that your sensitive details are protected.</p>

  <h2>Worldwide Shipping</h2>
  <p>Antiqkraft offers worldwide shipping, bringing the beauty of antique products to enthusiasts around the globe. We partner with trusted shipping carriers to ensure that your purchases arrive safely and promptly. International customers can explore our collection and experience the joy of owning a piece of history.</p>

  <h2>Contact Us</h2>
  <p>For any inquiries or assistance, our dedicated customer support team is here to help. Don't hesitate to reach out to us through the following channels:</p>
  <ul>
    <li>Phone: +49-17684752732</li>
    <li>Email: antiqkraft_app.service@yahoo.com</li>
  </ul>

  <h2>Start Your Antique Journey with Antiqkraft</h2>
  <p>Embrace the allure of the past and start building your antique collection with Antiqkraft. Explore our website, browse our extensive collection, and find the perfect piece that speaks to your unique style and appreciation for history.</p>

</div>

{% include 'footer/footer.html' %}