{% include 'base.html' %}
{% include 'header/header-without-nav.html' %}

<div class="container min-container">
    <h1>Help</h1>

  <h2>Frequently Asked Questions</h2>
  <h3>1. How can I place an order?</h3>
  <p>To place an order, follow these simple steps:</p>
  <ol>
    <li>Browse our website and add the desired items to your shopping cart.</li>
    <li>Proceed to the checkout page.</li>
    <li>Provide your shipping and billing information.</li>
    <li>Select your preferred payment method and complete the payment.</li>
    <li>Review your order summary and confirm your purchase.</li>
  </ol>

  <h3>2. How can I track my order?</h3>
  <p>Once your order has been shipped, you will receive a confirmation email with a tracking number. You can use this tracking number to monitor the progress of your shipment on our website or the shipping carrier's website.</p>

  <h3>3. What is your return policy?</h3>
  <p>We accept returns within 30 days of the delivery date. Please visit our Returns and Refunds page for detailed instructions on how to initiate a return and our refund policy.</p>

  <h3>4. How can I contact customer support?</h3>
  <p>We are here to assist you. You can reach our customer support team through the following methods:</p>
  <ul>
    <li>Phone: [Phone number]</li>
    <li>Email: [Email address]</li>
    <li>Live Chat: [Live chat link]</li>
  </ul>

  <h2>Contact Us</h2>
  <p>If you have any other questions or concerns that are not covered in our FAQs, please don't hesitate to contact us. We're happy to help!</p>
  <ul>
    <li>Phone: [Phone number]</li>
    <li>Email: antiqkraft@yahoo.com</li>
  </ul>
</div>

{% include 'footer/footer.html' %}