<style>
    .separator_2 {
        display: flex;
        align-items: center;
        flex: 2;
        border-bottom: 1px solid #000;
        margin-top: 4px;
        margin-bottom: 2px;
        
    }

    .bottom_stuff_2 {
        margin-top: 2px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 4px;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }
</style>

<div class="container">
    <div class="separator_2"></div>
    <div class="row justify-content-md-center" id="footer">
        <ul class="bottom_stuff_2">
            <div class="col-md-auto">
                <a class="link-dark" href="link address">
                    <h8>Terms of Use</h8>
                </a>
                
            </div>
            <h6>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</h6>
            <div class="col-md-auto">
                <a class="link-dark" href="http://127.0.0.1:5000/seller-login">
                    <h8>Seller Login</h8>
                </a>
            </div>
            <h6>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</h6>
            <div class="col-md-auto">
                <a class="link-dark" href="link address">
                    <h8>Privacy Policy</h8>
                </a>
            </div>
            <h6>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</h6>
            <div class="col-md-auto">
                <a class="link-dark" href="link address">
                    <h8>Help</h8>
                </a>
            </div>
            <h6>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</h6>
            <div class="col-md-auto">
                <a class="link-dark" href="link address">
                    <h8>FAQ</h8>
                </a>
            </div>
            <h6>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</h6>
            <div class="col-md-auto">
                <a class="link-dark" href="link address">
                    <h8>About AntiQKraft</h8>
                </a>
            </div>
        </ul>
    </div>
    <div class="separator_2"></div>
    <div class="row justify-content-md-center" id="footer">
        <div class="col-md-auto clearfix">
            <a href="https://www.facebook.com/">
                <img src="static/footer/Vector.jpg" width="32" height="32" style="margin-top: 5px;">
            </a>
        </div>
        <div class="col-md-auto clearfix">
            <a href="https://www.instagram.com/">
                <img src="static/footer/Instagram.jpg" width="40" height="40">
            </a>
        </div>
        <div class="col-md-auto clearfix">
            <a href="https://www.pinterest.com/">
                <img src="static/footer/Pinterest.jpg" width="40" height="40">
            </a>
        </div>
        <div class="col-md-auto clearfix">
            <a href="https://twitter.com/">
                <img src="static/footer/Twitter.jpg" width="40" height="40">
            </a>
        </div>
    </div>
    <div class="separator_2"></div>
    <div class="row justify-content-md-center" id="footer">
        <div class="col-md-auto clearfix">
            <img src="static/footer/Copyright.jpg" width="30" height="30">
        </div>
        <h8 style="text-align: center;">CodePanda - ISEE SoSe23</h8>
    </div>
</div>