{% include 'base.html' %}
{% include 'header/header-without-nav.html' %}

<div class="container min-container">
    <h1>Terms of Use</h1>

  <h2>1. Introduction</h2>
  <p>Welcome to our website. These terms and conditions govern your use of our website; by using our website, you accept these terms and conditions in full. If you disagree with any part of these terms and conditions, please do not use our website.</p>

  <h2>2. Intellectual Property Rights</h2>
  <p>Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>

  <h2>3. License to Use Website</h2>
  <p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>

  <h2>4. Restrictions</h2>
  <p>You must not:</p>
  <ul>
    <li>Republish material from this website (including republication on another website)</li>
    <li>Sell, rent, or sub-license material from the website</li>
    <li>Show any material from the website in public</li>
    <li>Reproduce, duplicate, copy, or otherwise exploit material on our website for a commercial purpose</li>
    <li>Edit or otherwise modify any material on the website</li>
    <li>Redistribute material from this website except for content specifically and expressly made available for redistribution</li>
  </ul>

  <h2>5. Limitations of Liability</h2>
  <p>We will not be liable to you (whether under the law of contract, the law of torts, or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
  <ul>
    <li>For any indirect, special, or consequential loss</li>
    <li>For any business losses, loss of revenue, income, profits, or anticipated savings</li>
    <li>For any loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data</li>
    <li>These limitations of liability apply even if we have been expressly advised of the potential loss</li>
  </ul>

  <h2>6. Variation</h2>
  <p>We may revise these terms and conditions from time to time. Revised terms and conditions will apply to the use of our website from the date of the publication of the revised terms and conditions on our website.</p>

  <h2>7. Entire Agreement</h2>
  <p>These terms and conditions, together with our Privacy Policy, constitute the entire agreement between you and us in relation to your use of our website and supersede all previous agreements in respect of your use of this website.</p>

  <h2>8. Contact Information</h2>
  <p>If you have any questions about these terms and conditions, please contact us via email at antiqkraft_app.service@yahoo.com</p>

</div>

{% include 'footer/footer.html' %}