{% include 'base.html' %}
<style>
    .separator_2 {
        display: flex;
        align-items: center;
        flex: 2;
        border-bottom: 1px solid #000;
        margin-top: 4px;
        margin-bottom: 2px;

    }

    #product-banner.carousel-item.img-fluid {
        object-fit: cover;
        height: 300px;
        padding-bottom: 20px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }
</style>
<script>
    $(document).ready(function () {

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });

    });
</script>

{% include 'header/header.html' %}

<div class="container">
    <div class="row">
        <div>
            <ul>
                <h5 style="text-align: left; text-transform: uppercase;">{{category_name}} > {{sub_category_name}} >
                    {{product_name[0]}}</h5>
            </ul>
        </div>
    </div>
    <div class="separator_2"></div>

    <div class="container banner">
        <div class="row">
            <div class="col-4">

                <div id="product-banner" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="carousel-item active">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_main_image[0]}}></img></a>

                        </div>
                        <div class="carousel-item">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_sec_image1}}></img></a>

                        </div>
                        <div class="carousel-item">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_sec_image2}}></img></a>

                        </div>
                        <div class="carousel-item">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_sec_image3}}></img></a>

                        </div>
                        <div class="carousel-item">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_sec_image4}}></img></a>

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#product-banner"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#product-banner"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
            <div class="col-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus"
                            data-field="">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10"
                        min="1" max="100">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus"
                            data-field="">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </div>

    {% include 'footer/footer.html' %}
</div>