{% include 'base.html' %}
<style>
    .separator_2 {
        display: flex;
        align-items: center;
        flex: 2;
        border-bottom: 1px solid #000;
        margin-top: 4px;
        margin-bottom: 2px;

    }

    #product-banner.carousel-item.img-fluid {
        object-fit: cover;
        height: 300px;
        padding-bottom: 20px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    #myform {
        text-align: center;
        border: none;
    }

    .qty {
        width: 40px;
        height: 40px;
        text-align: center;
        font-weight: bold;

    }

    input.qtyplus {
        width: 25px;
        height: 25px;
        text-align: center;
        font-weight: bold;
    }

    input.qtyminus {
        width: 25px;
        height: 25px;
        text-align: center;
        font-weight: bold;
    }

    .button {
        background-color: #000000;
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
        border: 2px solid black;
    }

    .stock {
        color: green;
        /* Style for in-stock items */
    }

    .stock.out-of-stock {
        color: red;
        /* Style for out-of-stock items */
    }

    .rating {
        color: gold;
        /* Default star color */
    }

    .star {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: url(https://www.sabre-roads.org.uk/wiki/images/d/d1/Star_grey.png) no-repeat;
        background-size: contain;
    }

    .star.selected {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/29/Gold_Star.svg);
    }
</style>
<script>
    jQuery(document).ready(($) => {
        $('.quantity').on('click', '.plus', function (e) {
            let $input = $(this).prev('input.qty');
            let val = parseInt($input.val());
            $input.val(val + 1).change();
        });

        $('.quantity').on('click', '.minus',
            function (e) {
                let $input = $(this).next('input.qty');
                var val = parseInt($input.val());
                if (val > 0) {
                    $input.val(val - 1).change();
                }
            });
    });

    // Function to update the stock counter
    function updateStockCounter(stockQuantity) {
        const stockQuantityElement = document.getElementById('stock-quantity');
        stockQuantityElement.textContent = stockQuantity;

        if (stockQuantity === 0) {
            stockContainer.classList.add('out-of-stock');
        }
    }
    // Function to handle star rating selection
    function handleStarRating(event) {
        const selectedStar = event.target;
        const rating = parseInt(selectedStar.dataset.value);

        // Remove "selected" class from all stars
        const stars = document.querySelectorAll('.star');
        stars.forEach(star => star.classList.remove('selected'));

        // Add "selected" class to clicked star and stars before it
        for (let i = 0; i < rating; i++) {
            stars[i].classList.add('selected');
        }
    }

    // Add event listeners to each star
    const stars = document.querySelectorAll('.star');
    stars.forEach(star => {
        star.addEventListener('click', handleStarRating);
    });

</script>


{% include 'header/header.html' %}

<div class="container">
    <div class="row">
        <div>
            <ul>
                <h5 style="text-align: left; text-transform: uppercase;">{{category_name}} > {{sub_category_name}} >
                    {{product_name[0]}}</h5>
            </ul>
        </div>
    </div>
    <div class="separator_2"></div>

    <div class="container banner">
        <div class="row">
            <div class="col-4">

                <div id="product-banner" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#product-banner" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="carousel-item active">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_main_image[0]}}></img></a>

                        </div>
                        <div class="carousel-item">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_sec_image1}}></img></a>

                        </div>
                        <div class="carousel-item">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_sec_image2}}></img></a>

                        </div>
                        <div class="carousel-item">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_sec_image3}}></img></a>

                        </div>
                        <div class="carousel-item">
                            <a><img class="w-100 img-fluid" id="banner" style="height: 350px; width: 350px;"
                                    src={{product_sec_image4}}></img></a>

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#product-banner"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#product-banner"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
            <div class="col-4" style="margin-top: 25px; margin-left: 100px;">
                <h3 style="margin-top: auto; margin-left: 80px; font-weight: bold; font-size:x-large;">Price:
                    €{{product_price[0]}}
                </h3>
                <form id='myform' method='POST' class='quantity' action='#'><label
                        style="margin-top: 30px; text-align: left; font-weight: bold;">ORDER QUANTITY: </label>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>
                <div class="stock" style="margin-top: 20px; margin-left: 80px; font-weight: bold; font-size:larger;">In
                    Stock: <span id="stock-quantity">{{product_stock[0]}}</span>
                </div>

                <div class="rating" style="margin-top: 20px; margin-left: 80px;">
                    <span class="star" data-value="1"></span>
                    <span class="star" data-value="2"></span>
                    <span class="star" data-value="3"></span>
                    <span class="star" data-value="4"></span>
                    <span class="star" data-value="5"></span>
                </div>


                <button class="button"
                    style="margin-top: 20px; margin-left: 80px; height: 75px; width: 250px; font-weight: bold; font-size:larger;">Add
                    to Cart</button>
                <button class="button"
                    style="margin-top: 20px; margin-left: 80px; height: 75px; width: 250px; font-weight: bold; font-size:larger;"
                    onclick="updateStockCounter({{product_stock[0]}}-1);">Checkout</button>
            </div>

        </div>
    </div>
    <div class="separator_2"></div>
    <h3>Product Description:</h3>
    <div style="margin-top: auto; margin-left: 80px; font-weight: bold; font-size:large;">{{product_description[0]}}
    </div>

    
</div>
{% include 'footer/footer.html' %}