<style>
.popup {
  display: none;
  position: fixed;
  top:200px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  font-weight: bold;
}

</style>

<script>
    function showPopup(orderid) {
        console.log(orderid)
  var popup = document.getElementById(orderid);
  console.log(popup)
  popup.style.display = "block";
  
  setTimeout(function() {
    popup.style.display = "none";
  }, 1000); // 15 seconds
}

</script>

<div class="container">
    <h2 style="text-align: left;" >User Account<h2>
    <hr>
    <style>
        #key{text-align: right;}
        #val{text-align: left;}
        .accInfo {
          color: #000;
          background-color: #ffffff;
        }
    
        .accInfo .accInfo.active,
        .accInfo .accInfo:hover {
          color: #fff;
          background-color: #000;
        }
       
      </style>
    </div>
    
    <div class="container min-container">
        <div class="row">
          <div class="col-md-2">
            <div class="nav flex-column nav-pills accInfo" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active accInfo" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Personal Information</a>
              <a class="nav-link accInfo" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Order History</a>
              <a class="nav-link accInfo" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Wishlist</a>
              <a class="nav-link accInfo" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Password Reset</a>
            </div>
          </div>
          <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <div class="col-1"> </div>  
                    <div class="col-2">
                    <h5 id="key">First Name:</h5>
                    </div>
                    <div class="col-1"> </div>  
                    <div class="col-4">
                    <h5 id="val">{{ session.user_firstname[0] }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"> </div>  
                    <div class="col-2">
                    <h5 id="key">Last Name:</h5>
                    </div>
                    <div class="col-1"> </div> 
                    <div class="col-6">
                    <h5 id="val">{{ session.user_lastname[0] }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"> </div>  
                    <div class="col-2">
                    <h5 id="key">Email:</h5>
                    </div>
                    <div class="col-1"> </div> 
                    <div class="col-6">
                    <h5 id="val">{{ session.user_email[0] }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"> </div>  
                    <div class="col-2">
                    <h5 id="key">Address:</h5>
                    </div>
                    <div class="col-1"> </div> 
                    <div class="col-6">
                    <h5 id="val">{{ session.user_address[0] }}</h5>
                    </div>
                </div>
            </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h3>Order History</h3>
                <hr>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Order ID</th>
                      <th scope="col">Date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Shipping Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for order in orders%}
                    <tr>
                      <th scope="row">{{order['order_id']}}</th>
                      <td>{{order['order_date']}}</td>
                      <td>{{order['ship_address']}}</td>
                      <td><button class="btn btn-dark" style="font-size: x-small;" type="button" data-toggle="collapse" data-target="#order{{order['order_id']}}" aria-expanded="false" aria-controls="collapseExample">
                        View Details
                      </button></td>
                      <tr>
                        <td colspan="4">
                        <div class="collapse" id="order{{order['order_id']}}">
                          <div class="row">
                            <div class="col-7">
                                {% for item in orderWithItems[order['order_id']] %}
                                <div class="row">
                                    <div class="col-5">
                    
                                        <a class="link-dark" href={{item['product_url'][0]}}><img class="tile-image"
                                                src={{item['image_id'][0]}}></img></a>
                    
                                    </div>
                                    <div class="col-7">
                                        <div class="row">
                                            <div class="col-12">
                                                <a href={{item['product_url'][0]}} class="badge badge-dark" style="color: black;">
                                                    <h6 class="tile-text" style="text-align: left;">{{item["product_name"][0]}}</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <h6 class="tile-text" style="text-align: right;">Product Id : </h6>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="tile-text" style="text-align: left;">{{item["product_serial_number"][0]}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <h6 class="tile-text" style="text-align: right;">Quantity : </h6>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="tile-text" style="text-align: left;">{{item["quantity"][0]}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <h6 class="tile-text" style="text-align: right;">Price : </h6>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="tile-text" style="text-align: left;">&euro;{{item["selling_price"][0]}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                          <form action="submitRatings" method="POST">
                                            <div class="col-1 input-group x-small">
                                                
                                            
                                                    <input type="number" id="Number" name="quantity" class="form-control rounded" min="1" max="5" value=1 style="font-size: x-small; opacity: 1"> </input>
                                                    <input type="hidden" id="Number"  name="product_serial_number" class="form-control" value={{item["product_serial_number"][0]}} style="font-size: x-small;"> </input>
                                                
                                            <div id="popup{{order['order_id']}}" class="popup">Rating Successfully Added</div>
                                            <div class="col-5 input-group-append" style="padding-left: 10px;">
                                                <button type="submit" class="btn btn-dark" style="font-size: x-small;" onclick="showPopup('popup{{order['order_id']}}')">Submit Rating</button>
                                            </div>
                                        </div>
                                        </form>

                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            </div> 
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-10">
                                        <h6 class="tile-text" style="text-align: left;"><b>Delivery Details</b></h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-5">
                                        <h6 style="text-align: left;">Delivery Address</h6>
                                    </div>
                                    <div class="col-7">
                                        <h6 style="text-align: left;">{{ session.user_address[0] }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <h6 style="text-align: left;">Phone Number</h6>
                                    </div>
                                    <div class="col-5">
                                        <h6 style="text-align: left;">{{ session.user_phone[0] }}</h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-5">
                                        <h6 style="text-align: left;"><b>Payment Option</b></h6>
                                    </div>
                                    <div class="col-7">
                                        <h6 style="text-align: left;">Cash On Delivery</h6>
                                    </div>
                                </div>
                                <hr>
                                <h6 class="tile-text" style="text-align: left;"><b>Order Summary</b></h6>
                                <hr>
                                {% for item in orderWithItems[order['order_id']]%}
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-1">
                                        <h6>{{item["selling_price"][0]}}</h6>
                                    </div>
                                    <div class="col-1">
                    
                                    </div>
                                    <div class="col-1">
                                        <h6>X</h6>
                                    </div>
                                    <div class="col-1">
                                        <h6>{{item["quantity"][0]}}</h6>
                                    </div>
                                    <div class="col-1">
                                        <h6>=</h6>
                                    </div>
                                    <div class="col-1">
                                        <h6>&euro;{{item["item_total"][0]}}</h6>
                                    </div>
                                </div>
                                {%endfor%}
                                <hr>
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <h6 style="text-align: right;">Total</h6>
                                    </div>
                                    <div class="col-1">
                                        <h6 style="text-align: center;">=</h6>
                                    </div>
                                    <div class="col-3">
                                        <h6 style="text-align: left;">&euro;{{total[order['order_id']]}}</h6>
                                    </div>
                                </div>
                                <hr>
                                </div>
                    
                            </div>
                        </div>
                        </div>
                        </td>
                      </tr>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>

              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <h1>Wishlist</h1>
                <p>Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.</p>
              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h1>Password Reset</h1>
                <p>This is the settings tab content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    