<!DOCTYPE html>
<html>

<head>
  <title>antiQKraft</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=auto, user-scalable=yes">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="static/CSS/style.css">
  <link rel='icon' href='/static/logo/favicon.png' type='image/x-icon' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
  

</body>

</html>