{% include 'base.html' %}
<div class="container">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="col-2">
            <a class="navbar-brand" href="http://127.0.0.1:5000/">
                <img src="static/logo/logo-black.png" width="200" height="200" style="float: right;">
            </a>
        </div>
    </nav>
</div>

<style>
    .already_section {
        margin-top: 200px;
        margin-right: 400px;
        display: inline-block;
    }

    .already_section h4 {
        display: inline-block;
        margin-right: 10px;
    }

    .rounded-button {
        width: 100px;
        height: 40px;
        background-color: #000000;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        border-radius: 10px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -10px;
        margin-left: 10px;
    }
</style>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-auto already_section">
            <h4>If you are already a member,</h4>
            <button type="submit" class="rounded-button">Login</button>
        </div>
    </div>
</div>

<style>
    .signup-section {
        margin-top: 5px; /* Adjust the value as needed to create the desired space */
        margin-right: 720px; /* Adjust the value as needed to create the desired space */

    }
</style>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-auto signup-section">
            <h2>Sign Up</h2>
            <!-- Your sign-up form or content here -->
        </div>
    </div>
</div>



